# --- base
/.ignore/
/.idea/
/.vscode/
/data/
/vendor/
/Makefile

# --- symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/public/bundles/
/public/assets/
/assets/vendor/

# --- docker
/docker-compose.override.yaml

# --- phpunit
/.coverage/
.phpunit.result.cache

# --- phpcs
/.phpcs-cache
