version: '3.8'
services:
  php:
    image: php:8.3-fpm
    volumes:
      - './:/var/www/html'
  nginx:
    image: nginx:latest
    ports:
      - 5000:80
    volumes:
      - './:/var/www/html'
      - './docker/nginx/conf.d:/etc/nginx/conf.d'
