{% extends 'layout/base.twig' %}

{% block title %}
    Html to Xsl
{% endblock %}

{% block body %}
    <form action="{{ path('action.convert') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="warehose-request"><br><br>
        <button type="submit">Convert</button>
    </form>
{% endblock body %}
